<div class="flex items-center justify-center min-h-screen mx-auto mt-4 px-5">
	<div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
		<div class="flex justify-center">
			<svg height="50px" width="50px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#FFDA79;" d="M481.742,465.443H30.258c-9.549,0-17.29-7.741-17.29-17.29V122.342h468.775 c9.549,0,17.29,7.741,17.29,17.29v308.522C499.032,457.702,491.292,465.443,481.742,465.443z"></path> <path style="fill:#FF7876;" d="M283.241,362.651v-33.622c0-4.361,3.536-7.895,7.895-7.895h33.621c4.361,0,7.895-3.534,7.895-7.895 v-38.692c0-4.361-3.534-7.895-7.895-7.895h-33.621c-4.361,0-7.895-3.534-7.895-7.895v-33.622c0-4.361-3.534-7.895-7.895-7.895 h-38.69c-4.361,0-7.895,3.536-7.895,7.895v33.622c0,4.361-3.534,7.895-7.895,7.895h-33.622c-4.361,0-7.895,3.534-7.895,7.895v38.692 c0,4.361,3.536,7.895,7.895,7.895h33.622c4.361,0,7.895,3.534,7.895,7.895v33.622c0,4.361,3.534,7.895,7.895,7.895h38.69 C279.707,370.546,283.241,367.012,283.241,362.651z"></path> <path style="fill:#FFDA79;" d="M139.549,46.552H30.258c-9.549,0-17.29,7.741-17.29,17.29v58.498h172.06l-29.729-65.632 C152.498,50.525,146.337,46.552,139.549,46.552z"></path> <path style="fill:#58595B;" d="M481.742,109.372H193.391l-26.279-58.014c-4.891-10.796-15.71-17.773-27.561-17.773H30.258 C13.575,33.586,0,47.161,0,63.844v58.498v325.814c0,16.683,13.575,30.258,30.258,30.258h451.484 c16.683,0,30.258-13.575,30.258-30.258V139.63C512,122.947,498.425,109.372,481.742,109.372z M25.935,63.842 c0-2.384,1.94-4.323,4.323-4.323h109.291c1.693,0,3.238,0.996,3.937,2.54l21.431,47.313H25.935V63.842z M486.065,448.154 c0,2.384-1.94,4.323-4.323,4.323H30.258c-2.383,0-4.323-1.938-4.323-4.323V135.308h159.092h296.715c2.383,0,4.323,1.938,4.323,4.323 V448.154z"></path> </g></svg>
		</div>
		<h3 class="text-2xl font-bold text-center">Login to your account</h3>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="mt-4">
				<div>
					<%= f.label :email %>
					<%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" %>
					<%# <span class="text-xs tracking-wide text-red-600">Email field is required </span> %>
				</div>
				<div class="mt-4">
					<%= f.label :password %>
					<%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" %>
				</div>
				<div class="flex items-baseline justify-end">
					<%= f.submit "Login", class: "px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" %>
				</div>
			</div>
		<% end %>
	</div>
</div>
