<!DOCTYPE html>
<html>
	<head>
		<title>WorkableApp</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>
	<body class="bg-gray-100">
		<main class="">
			<% if flash[:notice] %>
				<div class="fixed flex justify-around  w-full top-0  p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
					<%= notice %>
				</div>
			<% end %>
			<% if flash[:alert] %>
				<div class="fixed flex justify-around  w-full top-0  p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
					<%= alert %>
				</div>
			<% end %>
			<%= yield %>
		</main>
	</body>
</html>
